
@{
    ViewBag.Title = "Index";
}

<h2>Wlcome => Admin </h2>
<hr />
@Html.Partial("~/Areas/Admin/Views/PartialChart/_chartone.cshtml")
@Html.Partial("~/Areas/Admin/Views/PartialChart/_chartwo.cshtml")
@Html.Partial("~/Areas/Admin/Views/PartialChart/_chartthree.cshtml")



